@media (max-width: 360px) {
    .sign_container {
        display: none;
    }
    .me {
        display: none;
    }
}
@media (max-width: 576px) {
    .begin-btn {
        width: 145px;
        margin-top: 28px;
    }
    .sign_container {
        position: fixed;
        top: 65%;
        left: 70%;
        font-size: 16px;
    }
    .me {
        font-size: 18px;
    }
}

@media (max-width: 768px) { 
    .welcome-page > h1 {
        font-size: 3.5rem;
    }
    .welcome-page > h2 {
        font-size: 1.5rem;
    }
    .begin-btn {
        width: 245px;
        margin-top: 28px;
    }
}
    
@media (max-width: 992px) {

}

@media (max-width: 1200px) {
    .sign_container {
        position: fixed;
        top: 70%;
        left: 70%;
        font-size: 123px;
    }

}
@media (max-width: 1400px) {
    .sign_container {
        position: fixed;
        top: 70%;
        left: 70%;
        font-size: 18px;
    }
}